* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: darkgreen;
  color: white;
  text-align: center;
  padding: 10px;
}

header .title {
  font-weight: bold;
  padding: 20px;
}

header .address {
  color: darkkhaki;
}

.form-container {
  background: linear-gradient(
    90deg,
    rgb(225, 225, 225) 20%,
    rgb(20, 198, 243),
    rgb(225, 225, 225)
  );
  padding: 10px;
  width: 100%;
  display: flex;
}

fieldset,
menu {
  border: none;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  background: linear-gradient(90deg, rgb(24, 1, 1) 20%, rgb(207, 8, 8));
  border-radius: 2px;
}

.logo {
  width: 50px;
  height: auto;
}

form input {
  border: none;
  padding: 5px;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: antiquewhite;
  padding: 3px;
  border-radius: 2px;
  font-size: 0.9rem;
}

.body {
  text-align: center;
  background-image: url("bg.jpg");
  width: 100%;
  height: 100vh;
}

.logo-2 {
  width: 150px;
  height: auto;
}

.profile-container img,
.result {
  width: 100%;
  margin: 0 auto;
}

.form-container .dashboard {
  text-align: center;
}

.form-container .dashboard p {
  display: inline-block;
  color: aqua;
  font-size: 0.7rem;
  padding: 5px 10px;
}

.form-container menu .box {
display:flex;
Justify-content:space-between;
}

.form-container menu .box .dropdown {
  display: inline-block;
  position: relative;
  text-align: center;
}

.form-container menu .box .dropdown .dropdown-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  
}

.form-container menu .box .dropdown .dropdown-option {
  display: none;
  position: absolute;
  overflow: auto;
  width: 100px;
}

.form-container menu .box .dropdown:hover .dropdown-option {
  display: block;
}

.form-container menu .box .dropdown .dropdown-option a {
  display: block;
  color: gray;
  background-color: yellow;
  text-decoration: none;
  font-size: 0.7rem;
  padding: 2px 5px;
  border-bottom: 1px solid green;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
